html body {
    background-color: #f3efef;
}

.navbar {
  margin-bottom: 1rem;
  margin: 1rem;
  padding: 0.5rem 0rem 0.5rem 1rem;
  background: linear-gradient(60deg, #53E0E1 25%, #CE9BD7, #F699BA, #FCD970);
  border-radius: 0.5rem;
}

.navbar-toggler {
  border: none;
  background: none;
}