:root {
    --primary: #00a0ff;
    --secondary: #ff4081;
    --dark: #000000;
    --light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// .Header {
//     background-color: var(--primary);
//     color: var(--light);
//     padding: .25rem;
//     border-radius: .5rem;
//     margin: 1rem;
//     margin-top: 4.5rem;
//     background-color: #fff;
//     color: #000000;
// }

.crop {
    padding-top: 5rem;
}

.calculator {
    display: grid;
    width: 100%;
    max-width: 500px;
    background-color: #f3efef;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin: 1rem auto;
}

.display {
    padding: 1rem;
    text-align: right;
    background-color: #fff;
    font-size: 2.5rem;
}

.display span {
    font-size: 1.5rem;
    color: #888;
}

button:hover {
    opacity: 0.6;
}

.operators button {
    flex: 1 1 0%;
    color: #000;
}

.ops {
    font-weight: 700;
    font-size: large;
    background-color: #F699BA;
    color: #000;
}

.equal {
    background-color: #53E0E1;
    grid-column: 3/5;
    color: #000;
}

.free {
    background-color: transparent;
    border: none;
    pointer-events: none;
}

.digits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    background-color: #fff;
    padding: 1rem;
    color: #000;
}

.digits button {
    height: 3.5rem;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    color: #000;
}